.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content-contact {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: white;
  color: #2e3e4d;
  margin: 0px auto;
  padding: 40px 0px 0px 0px;
}

.footer p {
  padding-top: 40px;
  font-size: 10pt;
}

.jumbotron {
  background-image: url('https://i.ibb.co/W65cfMN/IMG-1469-3.jpg');
  background-size: 1500px auto;
  background-position: 0% 30%;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  color: white;
}

.jumbotron img {
  position: relative;
  left: 10px;
}

.jumbotron p {
  font-size: 16pt;
  padding-top: 15px;
}

.row-header {
  padding: 150px 0px;
}

.jumbotron img {
  float: right;
  width: 325px;
}

.row h3 {
  padding-top: 10px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-light {
  background-color: white;
}

.photo {
  margin: 10px;
}

.card {
  width: 280px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.card::before {
  position: absolute;
  content: '';
  width: 80%;
  height: 220%;
  background: rgba(147, 149, 172, 0.7);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: 0.5s;
}

.card:hover:before {
  left: 10%;
}

.card img {
  width: 100%;
  height: auto;
}

.card:hover img {
  opacity: 0.7;
}

.card-text {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: black;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}

.card:hover .card-text {
  top: 80px;
}

.button-logout {
  margin-left: 5px;
}

.row-content {
  margin: 0px;
  padding: 0px 20px;
  min-height: 0px;
}

.faq-row {
  border: #d1d1d1 1px solid;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 1.5rem;
}

.faq-row-wrapper {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row-content-text {
  margin: 20px;
}

.row-title {
  margin: 0 10px;
}
