.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  /*background-color: #2e3e4d;*/
  background-color: white;
  color: #2e3e4d;
  margin: 0px auto;
  padding: 20px 0px 0px 0px;
}
.jumbotron {
  background-image: url("https://i.ibb.co/W65cfMN/IMG-1469-3.jpg");
  background-size: 1500px auto;
  background-position: 0% 30%;
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  color: white;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 35pt;
  filter: brightness(90%);
}

.jumbotron p {
  font-size: 15pt;
  filter: brightness(90%);
}

.row-header {
  padding: 140px 0px;
}

.jumbotron img {
  float: right;
  width: 200px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: white;
}
